{
	"presets": ["es2015", "react"],
	"plugins": [
		"transform-object-rest-spread",
		"transform-class-properties",
		"styled-jsx/babel",
		"transform-es3-modules-literals",
		"transform-es3-property-literals",
		"transform-es3-member-expression-literals",
		"add-react-displayname",
		"transform-runtime",
		"transform-async-to-generator"
	]
}
